[submodule "utils/cv_utils"]
	path = utils/cv_utils
	url = https://github.com/woodsgao/cv_utils.git
[submodule "utils/modules"]
	path = utils/modules
	url = https://github.com/woodsgao/pytorch_modules.git
